{:deps
 {org.clojure/clojure {:mvn/version "1.10.3"}}

 :aliases
 {:pool-2-8-1
  {:extra-deps {org.apache.commons/commons-pool2
                {:mvn/version "2.8.1"}}}

  :pool-2-9-0
  {:extra-deps {org.apache.commons/commons-pool2
                {:mvn/version "2.9.0"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {com.cognitect/test-runner
                 {:git/url "https://github.com/cognitect-labs/test-runner.git"
                  :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts   ["-m" "cognitect.test-runner"]}}}
